asgiref==3.2.7
certifi==2020.4.5.2
chardet==3.0.4
Django==3.0.6
django-summernote==0.8.11.6
idna==2.9
Pillow==7.1.2
psycopg2==2.8.5
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
secure-smtplib==0.1.1
six==1.15.0
sqlparse==0.3.1
timeago==1.0.14
urllib3==1.25.9
