@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
header {
  position: absolute;
  top: 0px;
  margin: 0;
  margin-top: 0;
  margin-left: 0;
  left: 0;
  right: 0;
  width: 100%;
  align-content: center;
  text-align: right;
  background: rgb(44, 62, 80);
  background: linear-gradient(
    90deg,
    rgba(44, 62, 80, 1) 23%,
    rgba(189, 195, 199, 1) 100%
  );
  height: 93px;
}

.nav a {
  cursor: pointer;
  text-decoration: none !important;
}

.nav.npc {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  background-color: black;
  margin-right: 40px;
  margin-top: 20px;
  padding: 0 20px;
  border-radius: 40px;
  box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
}

.nav-item {
  color: #bdc3c7;
  padding: 14px;
  transition: 0.3s;
  margin: 0 6px;
  z-index: 1;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 17px;
  position: relative;
}

.nav-item:before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #dfe2ea;
  border-radius: 8px 8px 0 0;
  opacity: 0;
  /* -webkit-transition: .3s; */
  transition: 0.3s;
}

.nav-item:not(.is-active):hover:before {
  opacity: 1;
  bottom: 0;
}

.nav-item:not(.is-active):hover {
  color: #dfe2ea;
}

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  transition: 0.4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

@media (max-width: 580px) {
  .nav {
    overflow: auto;
  }
}

footer {
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(189, 195, 199, 1) 0%,
    rgba(44, 62, 80, 1) 50%
  );
  left: 0;
  right: 0;
  display: flex;
  margin-top: auto;
  height: 40px;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

footer .foot {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  color: whitesmoke;
  margin: 0 auto;
  padding-left: 10px;
}

.logo {
  padding: 20px 15px;
  width: 50px;
  display: flex;
}

.logo .img_cont {
  justify-content: right;
}

::-webkit-scrollbar {
  width: 25px;
}

::-webkit-scrollbar-track {
  border: 7px solid #232943;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #06dee1, #79ff6c);
  border-radius: 3px;
}
