.main-container {
  display: flex;
  min-height: 100vh;
  // overflow: hidden;
  #check {
    // padding-bottom: 20px;
    // display: flex;
    position: fixed;
    left: 0;
    top: 50px;
    bottom: 0px;
    width: 24%;
    overflow-y: auto;
    overflow-y: scroll;
    scrollbar-color: rgb(88, 88, 88) black;
    scrollbar-width: thin;
    .clist {
      // height:120vh;
      display: flex;
      width: 100%;
      align-items: center;
      flex-direction: column;
      // justify-content: space-around;

      // min-height: 100vh;
      background-color: black;

      // margin-bottom: 32px;
      // padding:10px;
      // &::-moz-webkit-scrollbar{
      //   width:8px;
      //   background-color: white;
      // }
      #butt {
        padding: 10px 0px;
        display: flex;
        // margin: 0px 20px;
        width: 40%;
        align-items: center;
        justify-content: center;
        // padding: 20px;
        // color: blueviolet;
        #but {
          background-color: blue;
          color:white;
          border: none;
          cursor: pointer;
          height: 30px;
          padding: 0px 40px;
        }
      }
      .name {
        // padding-left: 28px;
        height: 100px;
        margin-bottom: 25px;
        img {
          border-radius: 20px;
          height: 100%;
        }
        &:hover {
          transform: scale(1.05, 1.05);
          box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
            -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
        }
      }
    }
  }
  .ctst {
    background-color: pink;
    margin-left: 24%;
    height: 200vh;
    width: 76%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .contest{
      color: black;
      font-size: 20px;
    }
  }
}


