@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.main-container #check {
  position: fixed;
  left: 0;
  top: 50px;
  bottom: 0px;
  width: 24%;
  overflow-y: auto;
  overflow-y: scroll;
  scrollbar-color: #585858 black;
  scrollbar-width: thin;
}

.main-container #check .clist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #c3073f;
  padding-top: 20px;
}

.main-container #check .clist #heading {
  font-size: 30px;
  font-family: "Staatliches", cursive;
  color: #111;
  letter-spacing: 2px;
  padding-bottom: 10px;
}

.main-container #check .clist .name {
  height: 100px;
  cursor: pointer;
  margin-bottom: 25px;
  border-radius: 20px;
}

.main-container #check .clist .name img {
  border-radius: 20px;
  height: 100%;
  border: 2px solid white;
}

.main-container #check .clist .name:hover {
  -webkit-transform: scale(1.025, 1.025);
          transform: scale(1.025, 1.025);
  -webkit-box-shadow: 2px 2px 15px 10px rgba(0, 0, 0, 0.25), -2px -2px 15px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 2px 2px 15px 10px rgba(0, 0, 0, 0.25), -2px -2px 15px 10px rgba(0, 0, 0, 0.22);
}

.main-container .ctst {
  background-color: white;
  margin-left: 24%;
  height: 100vh;
  width: 76%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .ctst .practice {
  background-color: #878787;
  border-bottom: 4px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10%;
  margin-top: 50px;
}

.main-container .ctst .practice .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .ctst .practice .information p {
  color: #111;
  font-size: 40px;
  font-family: "Source Sans Pro", cursive;
}

.main-container .ctst .practice .practice-button {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .ctst .practice .practice-button .modal-btn {
  background-color: #111;
  color: white;
  border-radius: 20px;
  border: 2px solid white !important;
  cursor: pointer;
  height: 43px;
  padding: 0px 54px;
  font-size: 20px;
}

.main-container .ctst #challenge {
  width: 100%;
  height: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  overflow-y: auto;
  background-color: #c3073f;
}

.main-container .ctst #challenge .contest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  padding: 10px 10px;
  width: 100%;
}

.main-container .ctst #challenge .contest .timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
}

.main-container .ctst #challenge .contest .timer p {
  color: white;
  font-size: 20px;
  text-align: right;
  font-style: italic;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.main-container .ctst #challenge .contest .timer .countdown {
  color: white;
  font-size: 30px;
  font-family: 'Staatliches', cursive;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: lighter;
}

.main-container .ctst #challenge .contest .other {
  border: 2px solid #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container .ctst #challenge .contest .other .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30%;
  color: #111;
  font-size: 20px;
  padding-left: 10px;
  background-color: white;
}

.main-container .ctst #challenge .contest .other .sed {
  height: 50%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #111;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .ctst #challenge .contest .other .sed .sd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #111;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 2px solid #c3073f;
  width: 33.33%;
}

.main-container .ctst #challenge .contest .other .sed .sd p {
  color: #111;
  font-size: 16px;
}

.main-container .ctst #challenge .contest .other .sed .sd:nth-child(3) {
  border-right: none;
}

.main-container .ctst #challenge .contest .other .link {
  background-color: white;
  color: #c3073f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none !important;
  padding-left: 10px;
  font-size: 15px;
}

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s;
  transition: visibility 0s, opacity 0.5s;
}

.modal-bg .modal {
  position: relative;
  background-color: white;
  width: 30%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-bg .modal .modalb {
  padding: 10px 30px;
  background-color: #2980b9;
  color: white;
  border: none;
  cursor: pointer;
}

.modal-bg .modal .modal-close {
  position: absolute;
  top: 0px;
  right: 12px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 35px;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.loading {
  width: 16px;
  height: 16px;
  font-size: 0px;
  display: none;
}
/*# sourceMappingURL=competitive.css.map */