@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
.main-container {
    display: flex;
    min-height: 100vh;
    // overflow: hidden;
    #check {
        // padding-bottom: 20px;
        // display: flex;
        position: fixed;
        left: 0;
        top: 50px;
        bottom: 0px;
        width: 24%;
        overflow-y: auto;
        overflow-y: scroll;
        scrollbar-color: rgb(88, 88, 88) black;
        scrollbar-width: thin;
        .clist {
            // height:120vh;
            display: flex;
            width: 100%;
            align-items: center;
            flex-direction: column;
            // justify-content: space-around;
            // border: 2px solid white;
            // min-height: 100vh;
            background-color: #c3073f;
            padding-top: 20px;
            // margin-bottom: 32px;
            // padding:10px;
            // &::-moz-webkit-scrollbar{
            //   width:8px;
            //   background-color: white;
            // }
            // #butt {
            //   padding: 10px 0px;
            //   display: flex;
            //   // margin: 0px 20px;
            //   width: 40%;
            //   align-items: center;
            //   justify-content: center;
            //   padding: 20px;
            //   padding-bottom: 30px;
            //   // color: blueviolet;
            //   #but {
            //     background-color: #111;
            //     color:white;
            //     border-radius: 20px;
            //     border: 2px solid white !important;
            //     // border: none;
            //     cursor: pointer;
            //     height: 43px;
            //     padding: 0px 54px;
            //     font-size: 20px;

            //   }
            // }
            #heading {
                font-size: 30px;
                font-family: "Staatliches", cursive;
                color: #111;
                letter-spacing: 2px;
                padding-bottom: 10px;
            }
            .name {
                // padding-left: 28px;
                height: 100px;
                cursor: pointer;
                margin-bottom: 25px;
                border-radius: 20px;
                img {
                    border-radius: 20px;
                    height: 100%;
                    border: 2px solid white;
                }
                &:hover {
                    transform: scale(1.025, 1.025);
                    box-shadow: 2px 2px 15px 10px rgba(0, 0, 0, 0.25),
                        -2px -2px 15px 10px rgba(0, 0, 0, 0.22);
                }
            }
        }
    }
    .ctst {
        background-color: white;
        margin-left: 24%;
        height: 100vh;
        width: 76%;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .practice {
            background: rgb(255,255,255);
            background: linear-gradient(90deg, rgba(255,255,255,1) 20%, rgba(89,89,89,1) 80%);
            border-bottom: 2px solid black;
            display: flex;
            width: 100%;
            height: 10%;
            margin-top: 50px;
            .information {
                display: flex;
                width: 80%;
                justify-content: center;
                align-items: center;
                p {
                    color: #111;
                    font-size: 40px;
                    font-family: "Source Sans Pro", cursive;
                }
            }
            .practice-button {
                width: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                .modal-btn {
                    background-color: #111;
                    color: white;
                    border-radius: 20px;
                    border: 2px solid white !important;
                    cursor: pointer;
                    height: 43px;
                    padding: 0px 54px;
                    font-size: 20px;
                }
            }
        }
        #challenge {
            // display: flex;
            width: 100%;
            height: 90%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            overflow-y: auto;
            background-color: white;
            .contest {
                display: flex;
                height: 250px;
                // color: black;
                padding: 25px 30px;
                width: 100%;
                // border-radius: 30px;
                .timer{
                  display: flex;
                  width: 25%;
                //   border-radius: 30px 0px 0px 0px;
                  border: 2px solid #111;
                  justify-content: center;
                  align-items: center;
                  flex-direction: column;
                  background-color: #838383;
                //   background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(89,89,89,1) 80%);
                  p{
                    color: white;
                    font-size: 20px;
                    text-align: right;
                    font-style: italic;
                    justify-content: end;
                  }
                  .countdown{
                    color: white;
                    font-size: 30px;
                    font-family: 'Staatliches', cursive;
                    font-style: normal;
                    letter-spacing: 2px;
                    font-weight: lighter;
                  }
                }
                .other{
                  border: 2px solid #111;
                  display: flex;
                  width: 75%;
                  flex-direction: column;
                  .title{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    height:30%;
                    color: white;
                    font-size: 20px;
                    padding-left: 10px;
                    background-color: #111;
                  }
                  .sed{
                    height: 50%;
                    background-color: #111;
                    display: flex;
                    color: white;
                    justify-content: space-around;
                    align-items: center;
                    .sd{
                    //   background-color: white;
                      display: flex;
                      color: white;
                      flex-direction: column;
                      justify-content: space-around;
                      align-items: center;
                      border-right: 2px solid white;
                      width: 33.33%;
                      p{
                        color: white;
                        font-size: 16px;
                      }
                    } 
                    .sd:nth-child(3){
                        border-right: none;
                    }
                  }
                  .link{
                    background-color: #111;
                    color: white;
                    display: flex;
                    height: 20%;
                    cursor: pointer;
                    justify-content: flex-start;
                    align-items: center;
                    text-decoration: none !important;
                    padding-left: 10px;
                    font-size: 15px;
                    a{
                        color: white !important;
                    }
                  }
                }
            }
        }
    }
}

.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    .modal {
        position: relative;
        background-color: #111;
        width: 30%;
        height: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        border-radius: 20px;
        h2{
            color: #c3073f;
            font-size: 40px;
            font-family: "Staatliches", cursive !important;
            letter-spacing: 1px;
            text-align: center;
            margin-top: 2px;
        }
        #min,#max,#username,#tag{
            background-color: white;
            height: 10%;
            width: 40%;
            color: #111;
            font-size: 12px;
            font-weight: bold;
            border-radius: 10px;
        }
        ::placeholder{
            background-color: white;
            color: #838383;
            font-size: 12px;
            border-radius: 10px;
            text-align: center;
        }
        .modalb {
            padding: 6px 20px;
            background-color: #c3073f;
            color: #111;
            border: none;
            cursor: pointer;
            border-radius: 20px;
            font-size: 15px;
            font-weight: bold;
        }
        .modal-close {
            position: absolute;
            top: 0px;
            right: 12px;
            font-weight: bold;
            cursor: pointer;
            transform: rotate(45deg);
            font-size: 35px;
            color: white;
        }
    }
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.loading {
    width: 16px;
    height: 16px;
    font-size: 0px;
    display: none;
}

@media all and (max-width:1300px){
    .main-container{
        #check{
            .clist{
                .name{
                    img{
                        width: 150px;
                        // height: 150px;
                    }
                    
                }
            }
        }
    }
}

// @media all and (max-width:975px){
//     .main-container{
//         flex-direction: column;
//         #check{
//             height: 300px;
//             overflow-x: auto;
//             overflow-y: hidden;
//             .clist{
//                 flex-direction: row;
//             }
//         }
//     }
// }
