@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

.footer {
<<<<<<< HEAD
	background: #111;
=======
	background: #24292E;
  	// background: linear-gradient(90deg, rgba(197,113,18,1) 10%, rgba(235,50,110,1) 51%, rgba(182,23,23,1) 91%);
>>>>>>> c8cec46c088d0b0aaed61888a5be11d8dfa9c566
	.footer-container {
		display: flex;
		flex-wrap: wrap;
		width: 100%;

		.footer-right {
			width: 100%;

			p {
				position: relative;
				top: 50%;
				font-size: 17px;
				transform: translateY(-50%);
				// font-style: italic;
				color:white;
				padding: 10px 30px;
				text-align: center;
			}

			@media (min-width: 820px) {
				width: 50%;
				p {
					text-align: right;
				}
			}
		}

		.footer-left {
			width: 50%;

			.image-holder {
				padding: 10px 30px;
				height: 70px;
				width: 100%;

				img {
					height: 100%;
				}
			}

			@media (max-width: 820px) {
				width: 100%;
				.image-holder {
					text-align: center;
				}
			}
		}
	}
}
