@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.announce{
    display: flex;
    width: 100%;
    min-height: 300px;
    // flex-direction: column;
    .details{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height:100%;
        .img{
            display: flex;
            width: 20%;
            min-width: 100px;
            height: 100%;
            img{
                width: 100%;
                height:300px;
            }
        }     
        .description{
            width: 80%;
            min-width: 500px;
            // height: 100%;
            background-color: white;
            display: flex;
            flex-direction: column;
            .text{
                height:90%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px 20px;
                padding-right: 160px;
                p{
                    font-size: 20px;
                    color: #111;
                }
            }
            .other-details{
                display: flex;
                height: 20%;
                background-color: #c3073f;
                .date{
                    padding-left: 20px;
                    width: 50%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    p{
                        margin: 0px;
                        font-size: 16px;
                        .fa-clock-o{
                            font-size: 15px;
                        }
                    }
                }
                .more{
                    width: 50%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    padding-right: 260px;
                    .go{
                        padding: 3px 3px;
                        // z-index: 5000;
                    }
                }
            }
        }
    }
    // .down-area{
    //     display: flex;
    //     width:100%;
    //     height:15%;
    //     background-color: #111;
    // }
}

.container{
    // min-height: 100vh;
    width: 100%;
    // padding: auto 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    #carousel-example-generic{
        // margin-top: 70px;
        width: 100%;
        border: 2px solid #111;
        .carousel-indicators{
            bottom: 6px;
        }
    }
}

.announce-title{
    
    // padding-bottom: 40px;
    display: flex;
    width: 100%;
    background-color: #c3073f;
    // color: #111;
    justify-content: center;
    align-items: center;
    p{
        font-family: "Staatliches", cursive;
        font-size: 50px;
        letter-spacing: 2px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        color: #111;
    }

}

.main-container{
    display: flex;
    flex-direction: column;
    // min-height: 160vh;
    .animation{
        display: flex;
        position: absolute;
        width: 100%;
        height: 100vh;
        // background-color: #111;
        color: white;
        .logo{
            display: flex;
            width: 50%;
            height: 100%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img{
                padding-bottom: 50px;
            }
            a,a:hover,a:focus{
                text-decoration: none !important;
                p{
                    color: white;
                    font-size: 20px;
                }
            }
            a:hover{
                p{
                    color: #c3073f;
                }
            }
            
        }
        .questions{
            display: flex;
            width: 50%;
            height: 100%;
            // background-color: #111;
            justify-content: center;
            align-items: center;
            .question-container{
                display: flex;
                flex-direction: column;
                width: 80%;
                height: 60%;
                justify-content: center;
                align-items: center;
                #line{
                    font-family: "Staatliches", cursive;
                    font-size: 50px;
                    letter-spacing: 2px;
                    padding-bottom: 40px;
                    color: #c3073f;
                }
                .que{
                    display: flex;
                    color: white;
                    font-size: 27px;
                    // padding-bottom: 40px;
                }
                .answer-button{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    padding: 40px 0px;
                    #show-answer{
                        padding: 5px 30px;
                        background-color: #c3073f;
                        color: white;
                        border: none;
                        font-size: 20px;
                        font-weight: bold;
                    }
                    #show-answer{
                        outline: none;
                    }
                    #show-answer:hover{
                        background-color: white;
                        color:#c3073f;
                    }
                }
                .ans{
                    display: none;
                    justify-content: center;
                    align-items: center;
                    p{
                        color: white;
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

#particles-js{
    height: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


// .carousel-control{
//     margin-top: -23px;
//     margin-left: -69px;
//     margin-right: -69px;
// }