* {
    margin: 0;
    padding: 0;
}
.announce {
    display: flex;
    width: 100%;
    min-height: 300px;
    .details {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 300px;
        .text {
            height: 80%;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
            padding: 0px 150px;
            #title {
                font-weight: bold;
                font-size: 30px;
                color: #111;
            }
            p {
                font-size: 20px;
                color: #111;
            }
        }
        .other-details {
            display: flex;
            height: 20%;
            background-color: #c3073f;
            .date {
                padding-left: 20px;
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    font-weight: bold;
                    margin: 0px;
                    font-size: 16px;
                    .fa-clock-o {
                        font-size: 15px;
                    }
                }
            }
            .more {
                z-index: 5000;
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                    text-decoration: none !important;
                    .go {
                        z-index: 5000;
                        cursor: pointer;
                        border: none;
                        background-color: #111;
                        color: white;
                        font-family: "Source Sans Pro", sans-serif;
                        font-size: 17px;
                        border-radius: 5px;
                        padding: 5px 20px;
                        // z-index: 5000;
                    }
                    .go:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}

.container {
    width: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
    #carousel-example-generic {
        display: flex;
        width: 100%;
        border: 2px solid #111;
        .carousel-indicators {
            bottom: 6px;
            width: 33%;
            margin-left: -17%;
        }
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    .animation {
        display: flex;
        position: relative;
        width: 100%;
        padding-top: 50px;
        min-height: 100vh;
        background: src("#particles-js");
        color: white;
        align-self: center;
        .logo {
            margin-top: 20px;
            padding-top: 20px;
            display: flex;
            flex: 40%;
            width: 100%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img {
                padding-bottom: 50px;
                animation-name: bounce-1;
                animation-timing-function: linear;
                animation-duration: 5s;
                animation-iteration-count: infinite;
            }
            @keyframes bounce-1 {
                0% {
                    transform: translateY(0);
                }
                50% {
                    transform: translateY(-30px);
                }
                100% {
                    transform: translateY(0);
                }
            }
            a,
            a:hover,
            a:focus {
                text-decoration: none !important;
                p {
                    color: white;
                    font-size: 25px;
                }
            }
            a:hover {
                p {
                    color: #c3073f;
                }
            }
        }
        .questions {
            margin-top: 20px;
            display: flex;
            flex: 40%;
            width: 100%;
            justify-content: center;
            align-items: center;
            .question-container {
                display: flex;
                flex-direction: column;
                width: 70%;
                height: 60%;
                justify-content: center;
                align-items: center;
                #line {
                    font-family: "Staatliches", cursive;
                    font-size: 50px;
                    letter-spacing: 2px;
                    padding-bottom: 40px;
                    text-align: center;
                    color: #c3073f;
                }
                .que {
                    display: flex;
                    color: white;
                    font-size: 27px;
                }
                .answer-button {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    padding: 40px 0px;
                    #show-answer {
                        padding: 5px 30px;
                        background-color: #c3073f;
                        color: white;
                        border: none;
                        font-size: 20px;
                        font-weight: bold;
                    }
                    #show-answer {
                        outline: none;
                    }
                    #show-answer:hover {
                        background-color: white;
                        color: #c3073f;
                    }
                }
                .ans {
                    display: none;
                    justify-content: center;
                    align-items: center;
                    p {
                        color: white;
                        font-size: 25px;
                    }
                }
            }
        }
    }

    .announce-title {
        display: flex;
        width: 100%;
        background-color: #c3073f;
        justify-content: center;
        align-items: center;
        p {
            display: flex;
            font-family: "Staatliches", cursive;
            font-size: 40px;
            letter-spacing: 2px;
            margin-bottom: 0px;
            padding-bottom: 0px;
            color: #111;
        }
    }
}

@media all and (max-width: 1300px) {
    .main-container {
        .animation {
            .logo {
                a {
                    p {
                        font-size: 23px;
                    }
                }
            }
            .questions {
                .question-container {
                    #line {
                        font-size: 43px;
                    }
                    .que,
                    .ans p {
                        font-size: 23px;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1130px) {
    .main-container {
        .animation {
            .logo {
                a {
                    p {
                        font-size: 19px;
                    }
                }
                img {
                    width: 230px;
                    height: 310px;
                }
            }
            .questions {
                .question-container {
                    #line {
                        font-size: 35px;
                    }
                    .que,
                    .ans p {
                        font-size: 19px;
                    }
                    .answer-button {
                        #show-answer {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 830px) {
    .main-container {
        .animation {
            .logo {
                a {
                    p {
                        font-size: 15px;
                    }
                }
            }
            .questions {
                .question-container {
                    #line {
                        font-size: 26px;
                    }
                    .que,
                    .ans p {
                        font-size: 15px;
                    }
                    .answer-button {
                        #show-answer {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 600px) {
    .main-container {
        .animation {
            flex-direction: column;
        }
    }
}
#particles-js {
    height: 100%;
    background-color: #111;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
