.main{
    display: flex;
    .right-side{
        width: 14%;
        height:100vh;
        background-color: palegoldenrod;
    }
    .left-side-bar{
        width: 100% - 14%;
        height:100vh;
        background-color: greenyellow;
    }
}