{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="icon" href="/media/fav.png" />
    <title>About Us</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="/static/css/about_us.css">
</head>

<body>
    <!-- <h2>Core :- </h2>
    {% for ab in about %}
    <p>{{ab.club_description}}</p>
    <li><img src="{{ab.secretary_photo.url}}" width="100" height="100">{{ab.secretary_fn}} {{ab.secretary_ln}}</li>
    <li><img src="{{ab.joint_secretary_photo.url}}" width="100" height="100">{{ab.joint_secretary_fn}} {{ab.joint_secretary_ln}}</li>
    <li><img src="{{ab.treasurer_photo.url}}" width="100" height="100">{{ab.treasurer_fn}} {{ab.treasurer_ln}}</li>
    <li>{{ab.faculty_advisor_fn}} {{ab.faculty_advisor_ln}}</li>
    {% endfor %}
    <h2>Members :-</h2>
    {% for member in members %}
    <li>{{member.member_fn}} {{member.member_ln}}</li>
    {% endfor %} -->
    <div class="wrapper">
        <h1>About Us</h1>
        <div class=disc>
            <div class="img">
                <img src="/media/images/logo.jpeg"  alt="our_team">
            </div>
            <div class="text">
                <h3>Programming Club</h3><br>
                <h4>Welcome to the SEAS, Ahmedabad University Programming Club</h4><br>
                <h5>A computer programmer, sometimes called only programmer or more recently a coder (especially in more informal contexts), is a person who creates computer software. The term computer programmer can refer to a specialist in one area of computers, or to a generalist who writes code for many kinds of software.</h5>
            </div>
        </div>
        <h1>Our Team</h1>
        <div class="our_team">
            <div class="team_member">
              <div class="member_img">
                 <img src="/media/images/nnna.png" alt="our_team">
                <div class="social_media">
                   <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
                   <div class="twitter item"><i class="fab fa-twitter"></i></div>
                   <div class="instagram item"><i class="fab fa-instagram"></i></div>
                 </div>
              </div>
              <h3>Kuntal Patel</h3>
              <span>Mentor</span>
              <p>My name is ________ is am __ years old</p>
            </div>
            <div class="team_member">
               <div class="member_img">
                 <img src="/media/images/nnna.png" alt="our_team">
                 <div class="social_media">
                   <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
                   <div class="twitter item"><i class="fab fa-twitter"></i></div>
                   <div class="instagram item"><i class="fab fa-instagram"></i></div>
                 </div>
              </div>
              <h3>Yashraj</h3>
              <span>Secratory</span>
              <p>My name is ________ is am __ years old</p>
          </div>
            <div class="team_member">
               <div class="member_img">
                 <img src="/media/images/nnna.png" alt="our_team">
                 <div class="social_media">
                   <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
                   <div class="twitter item"><i class="fab fa-twitter"></i></div>
                   <div class="instagram item"><i class="fab fa-instagram"></i></div>
                 </div>
              </div>
              <h3>Vidish</h3>
              <span>Joint Secratory</span>
              <p>My name is ________ is am __ years old</p>
          </div>
            <div class="team_member">
               <div class="member_img">
                 <img src="/media/images/nnna.png" alt="our_team">
                 <div class="social_media">
                   <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
                   <div class="twitter item"><i class="fab fa-twitter"></i></div>
                   <div class="instagram item"><i class="fab fa-instagram"></i></div>
                 </div>
              </div>
              <h3>Raj</h3>
              <span>Tresurar</span>
              <p>My name is ________ is am __ years old</p>
          </div>  
        </div>
    </div>
</body>

</html>