<!-- Including base.html and loading static -->
{% extends "base.html" %}{% load static %}


<!-- Title Name -->
{% block title%} About Us {% endblock %} 

<!-- CSS Files -->
{% block stylesheet %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link rel="stylesheet" href="/static/css/about_us.css"> 
{% endblock %}


<!-- Main -->
{% block main %}
    <div class="container1">
        <div class="logo">

        </div>
        <div class="disc">


        </div>
    </div>
    <div class="team">
        <div class="name">

        </div>
        <div class="imgs">
            
        </div>
    </div>
{% endblock %}