{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock%}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="icon" href="/media/fav.png" />
    {% block stylesheet %}{% endblock %}
  </head>

  <body>
    <!-- <header> -->
    <!-- <div class="logo">
            <div class="img_cont">
                <img src="/media/images/0.jpg" alt="logo" width=50 height=50>
            </div>
        </div> -->
    <!-- <nav class="nav npc">
            <a href="" class="nav-item" active-color="orange">Home</a>
            <a href="/cp" class="nav-item" active-color="green">Practice & contest</a>
            <a href="/events" class="nav-item" active-color="blue">Events</a>
            <a href="/resources" class="nav-item" active-color="red">Resources</a>
            <a href="/about_us" class="nav-item" aive-color="rebeccapurple">About Us</a>
            <a href="/contact_us" class="nav-item" active-color="aqua">Contact Us</a>
            <span class="nav-indicator"></span>
        </nav>
    </header> -->

    <nav class="menu">
      
      <ol>
        <li class="menu-item"><a class="menu-item-links" href="/home">Home</a></li>
        <li class="menu-item"><a class="menu-item-links" href="{% url 'list_resources' %}">Resources</a></li>
        <li class="menu-item">
          <a class="menu-item-links" href="#0"
            >Events
            <svg
              version="1.1"
              class="plus-icon"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 18 18"
            >
              <line
                fill="none"
                stroke-width="4"
                stroke-linecap="round"
                stroke-miterlimit="10"
                x1="10"
                y1="9"
                x2="17"
                y2="9"
              />
              <line
                fill="none"
                stroke-width="4"
                stroke-linecap="round"
                stroke-miterlimit="10"
                x1="9"
                y1="9"
                x2="9"
                y2="1"
              />
              <g id="lineGroup_1">
                <line
                  fill="none"
                  stroke-width="4"
                  stroke-linecap="round"
                  stroke-miterlimit="10"
                  x1="1"
                  y1="9"
                  x2="8"
                  y2="9"
                />
                <line
                  fill="none"
                  stroke-width="4"
                  stroke-linecap="round"
                  stroke-miterlimit="10"
                  x1="9"
                  y1="17"
                  x2="9"
                  y2="9"
                />
              </g>
            </svg>
          </a>
          <ol class="sub-menu">
            <li class="sub-menu-item"><a class="menu-item-links" href="/events/upcoming_events">Upcoming Events</a></li>
            <li class="sub-menu-item"><a class="menu-item-links" href="/events/live_events">Live Events</a></li>
            <li class="sub-menu-item"><a class="menu-item-links" href="/events/past_events">Past Events</a></li>
          </ol>
        </li>
        <li class="menu-item"><a class="menu-item-links" href="/cp">Competitive Programming</a></li>
        <li class="menu-item"><a class="menu-item-links" href="/about_us">About Us</a></li>
        <li class="menu-item"><a class="menu-item-links" href="/contact_us">Contact Us</a></li>
      </ol>
      <span></span>
    </nav>

    {% block main%}{% endblock %}
    <!-- <footer>
      <div class="foot">
        Created by Suhanee Patel
      </div>
    </footer> -->

    {% block javascript %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"></script>
    <script>
      let tl = new TimelineLite(),
        links = document.querySelectorAll(".menu-item"),
        pIcon = document.querySelectorAll(".plus-icon");
      tl.staggerFromTo(
        links,
        0.4,
        { autoAlpha: 0 },
        { autoAlpha: 1, ease: Sine.easeInOut },
        0.2
      );

      links[2].addEventListener("mouseenter", function () {
        TweenMax.to(pIcon[0], 0.15, { rotation: -45, ease: Power1.easeIn });
        TweenMax.to("#lineGroup_1", 0.2, {
          attr: { "stroke-dashoffset": "8", "stroke-dasharray": "8" },
          ease: Power1.easeIn,
        });
      });
      links[2].addEventListener("mouseleave", function () {
        TweenMax.to(pIcon[0], 0.15, { rotation: 0, ease: Power1.easeIn });
        TweenMax.to("#lineGroup_1", 0.2, {
          attr: { "stroke-dashoffset": "0", "stroke-dasharray": "0" },
          ease: Power1.easeIn,
        });
      });
      links[3].addEventListener("mouseenter", function () {
        TweenMax.to(pIcon[1], 0.15, { rotation: -45, ease: Power1.easeIn });
        TweenMax.to("#lineGroup_2", 0.2, {
          attr: { "stroke-dashoffset": "8", "stroke-dasharray": "8" },
          ease: Power1.easeIn,
        });
      });
      links[3].addEventListener("mouseleave", function () {
        TweenMax.to(pIcon[1], 0.15, { rotation: 0, ease: Power1.easeIn });
        TweenMax.to("#lineGroup_2", 0.2, {
          attr: { "stroke-dashoffset": "0", "stroke-dasharray": "0" },
          ease: Power1.easeIn,
        });
      });

      const menuToggle = document.querySelector(".menu span");
      const menu = document.querySelector(".menu");
      menuToggle.addEventListener("click", function () {
        menu.classList.toggle("open");
      });
    </script>
  </body>
</html>
