<!-- Including base.html and loading static -->
{% extends "base.html"%} {% load static %}

<!-- Title -->
{% block title%} Contact Us {% endblock %}

<!-- CSS -->
{% block stylesheet%}
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/contact_us.css' %}"
/>
{% endblock %}

<!-- Main -->
{% block main %}
<div class="background">
    <div class="sec1"></div>
    <div class="sec2"></div>
</div>
<div class="contact-section">
    <div class="heading">
        <h1>Contact Us</h1>
        <div class="icons">
            <a href="https://www.youtube.com/channel/UC6omkjRsql98-udXWNbVxFg" target="_blank" class="ic"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/pclub_au/" target="_blank"class="ic"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#" target="_blank" class="ic"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="#" target="_blank" class="ic"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
    </div>

    <div class="cont">
        <form class="contact-form" action="contact.html" method="post">
            <input
                type="text"
                class="contact-form-text"
                placeholder="Your name"
                autocomplete="none"
            />
            <input
                type="email"
                class="contact-form-text"
                placeholder="Your email"
                autocomplete="none"
            />
            <input
                type="text"
                class="contact-form-text"
                placeholder="Your phone"
                autocomplete="none"
            />
            <textarea
                class="contact-form-text"
                placeholder="Your message"
                id="texting"
                autocomplete="none"
            ></textarea>
            <input type="checkbox" id="jw" name="jw" value="jw" />
            <label for="jw"> Join our Whatsapp group</label><br />
            <input type="submit" class="contact-form-btn" value="Send" />
        </form>
    </div>
</div>
{% endblock %} {% block javascript %}
<script>
    var observe;
    if (window.attachEvent) {
        observe = function (element, event, handler) {
            element.attachEvent("on" + event, handler);
        };
    } else {
        observe = function (element, event, handler) {
            element.addEventListener(event, handler, false);
        };
    }
    function init() {
        var text = document.getElementById("texting");
        function resize() {
            text.style.height = "auto";
            text.style.height = text.scrollHeight + "px";
        }
        /* 0-timeout to get the already changed text */
        function delayedResize() {
            window.setTimeout(resize, 0);
        }
        observe(text, "change", resize);
        observe(text, "cut", delayedResize);
        observe(text, "paste", delayedResize);
        observe(text, "drop", delayedResize);
        observe(text, "keydown", delayedResize);

        text.focus();
        text.select();
        resize();
    }
</script>
<script></script>
{% endblock %}
