<!-- Including base.html and loading static -->
{% extends "base.html"%} {% load static %}

<!-- Title -->
{% block title%} Contact Us {% endblock %}

{% block contact %}
<li class="menu-item active">
    <a class="menu-item-links" href="/contact_us">Contact Us</a>
</li>
{% endblock %}

<!-- CSS -->
{% block stylesheet%}
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/contact_us.css' %}"
/>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet"> 
{% endblock %}

<!-- Main -->
{% block main %}

<div class="contact-section">
    <div class="background">
        <div class="sec1"></div>
        <div class="sec2"></div>
    </div>
    <div class="heading">
        <h1>Contact Us</h1>
        <div class="icons">
            <a href="https://www.youtube.com/channel/UC6omkjRsql98-udXWNbVxFg" target="_blank" class="ic"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/pclub_au/" target="_blank"class="ic"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#" target="_blank" class="ic"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="#" target="_blank" class="ic"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
    </div>

    <div class="cont">
        <form class="contact-form" id="contact-form">
            <input
                type="text"
                class="contact-form-text"
                placeholder="Your name"
                id="name"
                autocomplete="none"
            />
            <input
                type="email"
                class="contact-form-text"
                placeholder="Your email"
                id="email"
                autocomplete="none"
            />
            <input
                type="text"
                class="contact-form-text"
                placeholder="Your Subject"
                id="subject"
                autocomplete="none"
            />
            <textarea
                class="contact-form-text"
                placeholder="Your message"
                id="message"
                autocomplete="none"
            ></textarea>
            <input type="checkbox" id="jw" name="jw" value="jw" />
            <label for="jw"> Join our Whatsapp group</label><br />
            <button type="button" class="contact-form-btn">Send</button>
        </form>
    </div>
</div>
{% endblock %} {% block javascript %}
<script>
    var observe;
    if (window.attachEvent) {
        observe = function (element, event, handler) {
            element.attachEvent("on" + event, handler);
        };
    } else {
        observe = function (element, event, handler) {
            element.addEventListener(event, handler, false);
        };
    }
    function init() {
        var text = document.getElementById("message");
        function resize() {
            text.style.height = "auto";
            text.style.height = text.scrollHeight + "px";
        }
        /* 0-timeout to get the already changed text */
        function delayedResize() {
            window.setTimeout(resize, 0);
        }
        observe(text, "change", resize);
        observe(text, "cut", delayedResize);
        observe(text, "paste", delayedResize);
        observe(text, "drop", delayedResize);
        observe(text, "keydown", delayedResize);

        text.focus();
        text.select();
        resize();
    }
</script>
<script>
    $('.contact-form-btn').click(function(){
        var name =$('#name').val();
        var email = $('#email').val();
        var subject = $('#subject').val();
        var message =$('#message').val();
        var check = "No";
        if($('#jw').prop("checked") == true){
            check = "Yes";
        }
        if(document.getElementById('name').value.length==0 || document.getElementById('email').value.length==0 || document.getElementById('subject').value.length==0 || document.getElementById('message').value.length==0){ 
            alert('Please fill the empty feilds');
        }
        else if(checkEmail(email)==='Not Valid'){
            alert("Enter Valid Email ID");
        }
        else{
            $.ajax({
                type:'POST',
                url:'/contact_us/',
                data:{
                    name:name,
                    email:email,
                    subject:subject,
                    message:message,
                    jw:check,
                },
                success:function(data){
                    if(data['done']=="Send"){
                        alert('Message Sent');
                        document.getElementById('name').value = "";
                        document.getElementById('email').value = "";
                        document.getElementById('subject').value = "";
                        document.getElementById('message').value = "";
                        $('#jw').prop("checked",false);
                    }
                    else{
                        alert('Connection error ! Try Again :(');
                    }
                },
                failure:function(){
                    alert('Error Occurred Try Again !!');
                }
            });
        }
    });

    function checkEmail(email){
        console.log(email);
        var emailAddress = email;
        var check = "No"
        $.get("https://isitarealemail.com/api/email/validate?email=" +
        emailAddress,
        function responseHandler(data) {
            if (data.status === 'valid') {
                check = "Yes"
            }
        });
        console.log(check);
        if(check==='No') {
            return 'Not Valid';
        }
    }

</script>
{% endblock %}
