{% extends "base.html"%}
{% load static %}

{% block title%}
    Contact Us
{% endblock %}

{% block stylesheet%}
    <link rel="stylesheet" type="text/css" href="/static/css/contact_us.css">
    <link href='https://fonts.googleapis.com/css?family=Artifika' rel='stylesheet'>
{% endblock %}


{% block main %}
<div class="contact-section">
    <h1>Contact Us</h1>
    <div class  = "cont">
      <form class="contact-form" action="contact.html" method="post">
        <input type="text" class="contact-form-text" placeholder="Your name">
        <input type="email" class="contact-form-text" placeholder="Your email">
        <input type="text" class="contact-form-text" placeholder="Your phone">
        <textarea class="contact-form-text" placeholder="Your message"></textarea>
        <input type="checkbox" id="jw" name="jw" value="jw">
        <label for="jw"> Join our Whatsapp group</label><br>
        <input type="submit" class="contact-form-btn" value="Send">
      </form>
    </div>
  </div>
{% endblock %}
