{% extends "base.html" %}{% load static %} {% block title%} CP {% endblock %} 
{%block stylesheet %}
<link rel="icon" href="/media/fav.png" />
<link rel="stylesheet" href="/static/css/competitive.css" />
{% endblock %} {% block main %}
<div class="main-container">
  <div id="check">
    <div class="clist">
      <div id="butt">
        <button type="button" id="but">Submit</button>
      </div>
      
      <div class="name" >
          <img src="{% static 'images/cc.png' %}">
      </div>
      <div class="name" >
        <img src="{% static 'images/cf.png' %}"
        />
      </div>
      <div class="name" >
       <img src="{% static 'images/ac.png' %}"
        />
      </div>
      <div class="name" >
         <img src="{% static 'images/hr.png' %}"
        />
      </div>
      <div class="name" >
        <img src="{% static 'images/he.png' %}"
        />
      </div>
      <div class="name" >
        <img src="{% static 'images/Google.png' %}"
        />
      </div>
      <div class="name" >
        <img src="{% static 'images/tp.png' %}"
        />
      </div>
    </div>
  </div>
  <div class="ctst" style="color: black;">
    Second Part
  </div>
</div>
{% endblock %}
