{% extends "base.html" %}{% load static %}
{% block title%} CP {% endblock %}

{% block stylesheet %}
    <link rel="icon" href="/media/fav.png" />
    <link rel="stylesheet" href="/static/css/cp.css"> 
{% endblock %}

{% block main %}
    <div class="main">
        <div class="get_cont">
            <div class="cards-list">
                <div class="card">
                    <div class="card_image"> 
                        <a href="1"><img src="/media/images/chef.png" /></a> 
                    </div>
                    <!-- <div class="card_title">
                        <p>Code Chef</p>
                    </div> -->
                </div>
                <div class="card">
                    <div class="card_image">
                        <a href="2"><img src="/media/images/cf.jpg" /></a>
                    </div>
                    <!-- <div class="card_title">
                        <p>Code Forces</p>
                    </div> -->
                </div>
                <div class="card">
                    <div class="card_image">
                        <a href="3"> <img src="/media/images/atcoder.png" /></a>
                    </div>
                    <!-- <div class="card_title">
                        <p>AtCoder</p>
                    </div> -->
                </div>
                <div class="card">
                    <div class="card_image">
                        <a href="4"><img src="/media/images/tc.jpg" /></a>
                    </div>
                    <!-- <div class="card_title">
                        <p>TopCoder</p>
                    </div> -->
                </div>
                <div class="card">
                    <div class="card_image">
                        <a href="5"><img src="/media//images/hr.jpg" /></a> 
                    </div>
                    <!-- <div class="card_title">
                      <p>Hackerrank</p>
                    </div> -->
              </div>
              <div class="card">
                    <div class="card_image">
                        <a href="6"><img src="/media//images/he.png" /></a>
                    </div>
                    <!-- <div class="card_title">
                      <p>Hackerearth</p>
                    </div> -->
              </div>
              <div class="card">
                    <div class="card_image">
                        <a href="7"><img src="/media/images/google.png" /></a>
                    </div>
                    <!-- <div class="card_title">
                      <p>Google</p>
                    </div> -->
              </div>
                    
            </div>
        </div>
        <div class="get_que">
            <form action="/problems/" method="POST">{% csrf_token %}
                <p>Min Rating : <input type="number" name="min" id="min"></p>
                <p>Max Rating : <input type="number" name="max" id="max"></p>
                <p>User Name : <input type="text" name="username" id="username"></p>
                <p>Tag : <input type="text" name="tag" placeholder=" &quot ; &quot Seperated" id="tag"></p>
                <button type="submit" id = "sub_id" class="save btn btn-default">Get Questions</button>
            </form>
        </div>
        
    </div>  
{% endblock %}
    <!-- <p style="color:white">{{timestamp}}</p>
    <ul id="countdown" data-time-upto="{{timestamp}}">
        <li id="days">
            <div class="number">00</div>
            <div class="label">D</div>
        </li>
        <li id="hours">
            <div class="number">00</div>
            <div class="label">H</div>
        </li>
        <li id="minutes">
            <div class="number">00</div>
            <div class="label">M</div>
        </li>
        <li id="seconds">
            <div class="number">00</div>
            <div class="label">S</div>
        </li>
    </ul> -->
{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $("#sub_id").click(function getProblems() {
            console.log("Here");
            var minr = document.getElementById("min").value
            var maxr = document.getElementById("max").value
            var usrname = document.getElementById("username")
            var tags = document.getElementById("tag")
            console.log("hey")
            $.ajax({
                url: 'problems/',
                type: "POST",
                data: {
                    min: minr,
                    max: maxr,
                    username: usrname,
                    tag: tags,
                },
                // dateType = "json",
                success: function(data) {
                    console.log("Data");
                    console.log(data);
                    // var temp = {{data|safe}};
                    // for (let i = 0; i < temp.length; i++) {
                    //     var st = "";
                    //     // var temp = {{prob|safe}};
                    //     st = "<p><a href=&quot" + temp[i] + "&quot>" + temp[i] + "</a></p>";
                    //     $("#prob").append(st);
                    // }
                }

            });
        });
    </script>
{% endblock %}
    <!-- function change_session(){
        var value1 = document.getElementById("select_path").value;
        var value2 = document.getElementById("select_pathh").value;
        console.log(value1);
        console.log(value2);
        if(value1){
          html='';
          var geny = {{ gen | safe }};
          var flagg = {{ flag | safe}};
          for (let i=0; i<geny.length; i++) {
            if (geny[i]==value1){
                for(let j=0; j<flagg[i].length; j++){
                  html+='<option  value="'+ flagg[i][j] +'">'+ flagg[i][j] +'</option>'
                }  
            }
          }
          document.getElementById("dddc").innerHTML = html;
        }
       
      } -->

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script>
        /* --------------------------
         * GLOBAL VARS
         * -------------------------- */
        // The date you want to count down to
        console.log($('#countdown').data('time-upto'));
        var targetDate = new Date($('#countdown').data('time-upto'));

        // Other date related variables
        var days;
        var hrs;
        var min;
        var sec;

        /* --------------------------
         * ON DOCUMENT LOAD
         * -------------------------- */
        $(function() {
            // Calculate time until launch date
            timeToLaunch();
            // Transition the current countdown from 0 
            numberTransition('#days .number', days, 1000, 'easeOutQuad');
            numberTransition('#hours .number', hrs, 1000, 'easeOutQuad');
            numberTransition('#minutes .number', min, 1000, 'easeOutQuad');
            numberTransition('#seconds .number', sec, 1000, 'easeOutQuad');
            // Begin Countdown
            setTimeout(countDownTimer, 1001);
        });

        /* --------------------------
         * FIGURE OUT THE AMOUNT OF 
           TIME LEFT BEFORE LAUNCH
         * -------------------------- */
        function timeToLaunch() {
            // Get the current date
            var currentDate = new Date();

            // Find the difference between dates
            var diff = (currentDate - targetDate) / 1000;
            var diff = Math.abs(Math.floor(diff));

            // Check number of days until target
            days = Math.floor(diff / (24 * 60 * 60));
            sec = diff - days * 24 * 60 * 60;

            // Check number of hours until target
            hrs = Math.floor(sec / (60 * 60));
            sec = sec - hrs * 60 * 60;

            // Check number of minutes until target
            min = Math.floor(sec / (60));
            sec = sec - min * 60;
        }

        /* --------------------------
         * DISPLAY THE CURRENT 
           COUNT TO LAUNCH
         * -------------------------- */
        function countDownTimer() {

            // Figure out the time to launch
            timeToLaunch();

            // Write to countdown component
            $("#days .number").text(days);
            $("#hours .number").text(hrs);
            $("#minutes .number").text(min);
            $("#seconds .number").text(sec);

            // Repeat the check every second
            setTimeout(countDownTimer, 1000);
        }

        /* --------------------------
         * TRANSITION NUMBERS FROM 0
           TO CURRENT TIME UNTIL LAUNCH
         * -------------------------- */
        function numberTransition(id, endPoint, transitionDuration, transitionEase) {
            // Transition numbers from 0 to the final number
            $({
                numberCount: $(id).text()
            }).animate({
                numberCount: endPoint
            }, {
                duration: transitionDuration,
                easing: transitionEase,
                step: function() {
                    $(id).text(Math.floor(this.numberCount));
                },
                complete: function() {
                    $(id).text(this.numberCount);
                }
            });
        };
    </script> -->
