<!-- Including base.html and loading static -->
{% extends "base.html" %}{% load static %} 


<!-- Title -->
{% block title%} CP {% endblock %} 
{% block cp %}
    <li class="menu-item active">
        <a class="menu-item-links" href="/cp">Competitive Programming</a>
    </li>
{% endblock %}
<!-- CSS -->
{%block stylesheet %}
  <link rel="icon" href="/media/fav.png" />
  <link rel="stylesheet" href="/static/css/cp_reloaded.css" />
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet"> 
{% endblock %} 

<!-- Main -->
{% block main %}
<div class="main-container">
    <div class="practice">
          <p>
            Practice questions of your desired specifications from CodeForces !
          </p>
          <button type="button" class="modal-btn">FETCH</button>
    </div>
    <div id="heading">
        <p>< CP - Platforms ></p>
    </div>
    <div class="clist">
        <!-- <div class="platform-names"> -->
      <div class="name" id="1">
        <img src="{% static 'images/pc1.png'%}">
      </div>
      <div class="name" id="2">
          <img src="{% static 'images/cc1.png' %}">
      </div>
      <div class="name" id="3">
        <img src="{% static 'images/cf1.png' %}"
        />
      </div>
      <div class="name" id="4">
       <img src="{% static 'images/at.png' %}"
        />
      </div>
      <div class="name" id="5">
         <img src="{% static 'images/hk.png' %}"
        />
      </div>
      <div class="name" id="6">
        <img src="{% static 'images/he1.png' %}"
        />
      </div>
      <div class="name" id="7">
        <img src="{% static 'images/gg.png' %}"
        />
      </div>
      <div class="name" id="8">
        <img src="{% static 'images/tc.png' %}"
        />
      </div>
    <!-- </div> -->
    </div>
  <div class="ctst">
    <div id="challenge">
      <div class="instructions">
        <p>To get the information about upcoming contests of any of the competitive platforms given above please click on them</p>
      </div>
    </div>
  </div>
</div>

<div class="modal-bg">
  <div class="modal">
    <h2>Get Questions</h2>
    <input type="number" name="min" id="min" placeholder="Minimum Rating">
    <input type="number" name="max" id="max" placeholder="Maximum Rating">
    <input type="text" name="username" id="username" placeholder="Codeforces Username" autocomplete="none">
    <input type="text" name="tag" id="tag" placeholder="Question Tag &quot ; &quot Seperated" id="tag" autocomplete="none">
    <button type="button" id = "sub_id" class="modalb">&#128170   Open Questions</button>
    <div class="loading" id="loading">
      <img src="{% static 'images/ajax-loader.gif '%}" >
    </div>
    <span class="modal-close">+</span>
  </div>
</div>
{% endblock %}


<!-- Javascript -->
{% block javascript %}
<script src="{% static 'js/jquery.countdown.js' %}"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script type="text/javascript">
  $('.name').click(function(e){
    $("#challenge").html("");
    var respid = $(this).attr('id');
    $.ajax({
      type:'POST',
      url:'/cp/',
      data:{
        id:respid,
        choose:'contests',
      },
      success:function(data){
        console.log(data['contest'].length);
        for(let i=0;i<data['contest'].length;i++){
          var name = data['contest'][i]['name'];
          var start = data['contest'][i]['start'];
          var end = data['contest'][i]['end'];
          var duration = data['contest'][i]['duration'];
          var link = data['contest'][i]['link'];
          

          $('#challenge').append('<div class="contest">\n <div class="timer">\n <p class ="countdown" data-countdown="'+ start +'"></p>\n<p>to go</p>\n</div>\n<div class="other">\n <div class="title">\n'+ name +'\n</div>\n<div class="sed">\n<div class="sd">\n<p>Start</p>\n<p>'+ start +'</p>\n</div>\n<div class="sd">\n<p >End</p>\n<p>'+ end +'</p>\n</div>\n<div class="sd">\n<p>Duration</p>\n<p>'+ duration +'</p>\n</div>\n</div>\n<div class="link">\n<a href="'+ link +'" target="_blank">'+link +'</a>\n</div>\n</div>\n</div>');
          
          
          /*if(respid=='1'){
            $('#challenge').append('<div class="contest"><p>' + name + '</p><p>' + start + "</p><p>" + end + "</p><p>" + duration + '<p><p class ="countdown" data-countdown="'+ start +'"><p> Platform : '+data['contest'][i]['platform'] + '</p></p><a id="here" href="' + link + '" target= "_blank">' + link + "</a></div>");
          }  
          else{
            $('#challenge').append('<div class="contest"><p>' + name + '</p><p>' + start + "</p><p>" + end + "</p><p>" + duration + '<p><p class ="countdown" data-countdown="'+ start +'"></p><a id="here" href="' + link + '" target= "_blank">' + link + "</a></div>");
          }*/
        }
        if(data['contest'].length==0){
          $('#challenge').append('<div class="no-contest"> <p> No contests </p> </div>');
        }
        $('[data-countdown]').each(function() {
          var $this = $(this), finalDate = $(this).data('countdown');
          $this.countdown(finalDate, function(event) {
            $this.html(event.strftime('%D days %H:%M:%S'));
          });
        });
      },
      failure:function(){
        alert('Connection Error');
      }
    }); 
  });
</script> 
<script>
  var mb = document.querySelector('.modal-btn');
  var md = document.querySelector('.modal-bg'); 
  var mc = document.querySelector('.modal-close');

  mb.addEventListener('click',function(){
    md.classList.add('bg-active');
  });

  mc.addEventListener('click',function(){
    md.classList.remove('bg-active');
  });
</script>
<script type="text/javascript">
       $('#sub_id').click(function(e){
          if(document.getElementById('min').value.length==0 || document.getElementById('max').value.length==0 || document.getElementById('max').value.length==0){ 
            alert('Please fill the empty feilds');
          }
          else{
            $.ajax({
              type:'POST',
              url:"/cp/",
              data:{
                  min:$('#min').val(),
                  max:$('#max').val(),
                  username:$('#username').val(),
                  tag:$('#tag').val(),
                  choose:"prob"
                },
              beforeSend:function(){
                  loadingShow();
              },
              success:function(data){
                  $('#loading').hide();
                  if(data['prob'].length==0){
                    alert("No Questions Found/Connection Error Occured !");
                  }
                  else{
                    for(let i=0;i<data['prob'].length;i++){
                      window.open(data['prob'][i],'_blank');
                    }
                  }
                  document.getElementById('min').value = '';
                  document.getElementById('max').value = '';
                  document.getElementById('username').value = '';
                  document.getElementById('tag').value = '';
              },
              failure:function(){
                alert("Error in your request, Try Agian !!");
              }
          });
        }
      });              
      function loadingShow(){
          $('#loading').show();
      }
</script>
{% endblock %}
