{% extends "base.html" %}{% load static %}

<!-- Title -->
{% block title %} Events {% endblock %}

<!-- Active -->

{% block event%}
<li class="menu-item active">
  <a class="menu-item-links"
      >Events
      <svg
          version="1.1"
          class="plus-icon"
          viewBox="0 0 18 18"
      >
          <line
              fill="none"
              stroke-width="4"
              stroke-linecap="round"
              stroke-miterlimit="10"
              x1="10"
              y1="9"
              x2="17"
              y2="9"
          />
          <line
              fill="none"
              stroke-width="4"
              stroke-linecap="round"
              stroke-miterlimit="10"
              x1="9"
              y1="9"
              x2="9"
              y2="1"
          />
          <g id="lineGroup_1">
              <line
                  fill="none"
                  stroke-width="4"
                  stroke-linecap="round"
                  stroke-miterlimit="10"
                  x1="1"
                  y1="9"
                  x2="8"
                  y2="9"
              />
              <line
                  fill="none"
                  stroke-width="4"
                  stroke-linecap="round"
                  stroke-miterlimit="10"
                  x1="9"
                  y1="17"
                  x2="9"
                  y2="9"
              />
          </g>
      </svg>
  </a>
{% endblock %}

<!-- CSS -->
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/event.css' %}" /> {% endblock %}

<!-- Main -->
{% block main %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center" id="name" data-event-type="{{eve_type}}">
       {{eve_type}} 
    </div>
  </div>
  <div id="ev" class="row">
    {% if events %} {% for event in events %}
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div id="news" class="news" data-event-id = "{{event.id}}">
        <figure class="article">
            <img src="{{event.logo.url}}" />
            <figcaption>
              <h3>{{event.name}}</h3>
              <br/>
              <p>{{event.date}}</p>
            </figcaption>
        </figure>
      </div>
    </div>
    {% endfor %} {% else %}
    
    <!-- <div class="col-lg-4"></div> -->
    <div class="col-lg-12 text-center" id="name">
      No {{eve_type}}
    </div>
    <!-- <div class="col-lg-4"></div> -->
    {% endif %}
  </div>
</div>

<!-- modal section -->
<div class="modal-bg">
  <div class="modal" id="test">
  </div>
</div>
{% endblock %}

<!--  Javacript -->
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
  $('.news').click(function(e){
    //document.querySelector('.bg-modal').style.display="flex";
    document.querySelector('.modal-bg').classList.add('bg-active');
    $('#test').html("");
    var event_id = $(this).data('event-id');
    var urlap = $('#name').data('event-type');
    if(urlap==="Upcoming Events"){
      urlap='upcoming_events';
    } else if(urlap=="Live Events"){
      urlap='live_evnets';
    } else{
      urlap = 'past_events';
    }
    var url = "/events/"+urlap; 
    console.log(event_id);
    $.ajax({
      type:'POST',
      url:url,
      data:{
        id:event_id,
      },
      success:function(data){
        console.log(data['event']);
        var html_to_write = "";
        html_to_write += '<div class="modal-close" id="close">+</div><p id=" eve_name" >Name : '+data['event']['name']+'</p> <p id="eve_desc">Desc : '+data['event']['description']+'</p> <p id=" eve_date">Date : '+data['event']['date']+'</p>';
        if(data['event']['feedback_link']){
          html_to_write += '<p>Feedback : <a href="'+data['event']['feedback_link'] +'" id="fl">'+data['event']['feedback_link']+'</a></p>';
        }
        if(data['event']['photos_link']){
          html_to_write += '<p>Photos : <a href="'+data['event']['photos_link'] +'" id="fl">'+data['event']['photos_link']+'</a></p>';
        }
        html_to_write += '<p>Registration Date : '+data['event']['registration_date']+'</p>'
        if(data['event']['can_register']){
          html_to_write += '<p>Registration Link : <a href="'+data['event']['registration_link'] +'" id="fl">'+data['event']['registration_link']+'</a></p>';
        }
        document.getElementById("test").innerHTML = html_to_write;
        var close = document.querySelector('#close');
        console.log(close);
        close.addEventListener('click',()=>{
        document.querySelector('.modal-bg').classList.remove('bg-active');
      });
      }
    });
  });

</script>  
{% endblock %}
