{% extends "base.html" %}{% load static %} {% block title %} Events {% endblock %} {% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/event.css' %}" /> {% endblock %}

<!-- Main -->
{% block main %}
<div class="eve">
    <div class="name">
        <h1>{ Upcoming Events }</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for event in events %}
        <div class="col-lg-4">
            <div class="news">
                <figure class="article">
                    <a href="{{event.id}}">
                        <img src="{{event.logo.url}}" />
                        <figcaption>
                            <h3>{{event.name}}</h3><br>
                            <p>{{event.date}}</p>
                        </figcaption>
                    </a>
                </figure>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %} 
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{% endblock %}