<div class="contest"> <!-- flex,row,height=30px-->
    <div class="timer"> <!-- flex,width=30%,jc:space-around-->
        <p>Time to the Contest</p>
        <p class ="countdown" data-countdown="#">
    </div>
    <div class="other"> <!--flex, width=70%,flex-dir:column-->
        <div class="title"><!--flex,flex-start,font=__ -->
            #
        </div>
        <div class="sed"> <!---->

        </div>
        <div class="link">

        </div>
    </div>
</div>

'<div class="contest">\n <div class="timer">\n <p>Time to the Contest</p>\n<p class ="countdown" data-countdown="'+ start +'"></p>\n</div>\n<div class="other">\n <div class="title">\n'+ name +'\n</div>\n<div class="sed">\n<div class="sd">\n<p>Start</p>\n<p>'+ start +'</p>\n</div>\n<div class="sd">\n<p>End</p>\n<p>'+ end +'</p>\n</div>\n<div class="sd">\n<p>Duration</p>\n<p>'+ duration +'</p>\n</div>\n</div>\n<div class="link">\n'+ link +'\n</div>\n</div>\n</div>'