<!-- Including base.html and loading static -->
{% extends "base.html" %}{% load static %}


<!-- Title Name -->
{% block title%} Home {% endblock %}


<!-- Nav Active -->
{% block home %}
<li class="menu-item active">
    <a class="menu-item-links" href="/home">Home</a>
</li>
{% endblock %}

<!-- CSS Files -->
{% block stylesheet %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="/static/css/home.css">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
{% endblock %}

<!-- Main -->
{% block main %}


<div class="main-container">
    <!-- <div id="particles-js"> -->
        <div class="animation">
            <div class="logo">
                <img src="{% static 'images/logoo.png' %}" class="box bounce-1">
                {% if new_event%}
                <a href="/events/live_events">
                    <p>New Events are waiting for you today! &nbsp;&#128197</p>
                </a>
                {% endif%}
                {% if contest_today%}
                <a href="/cp/">
                    <p>Contests are waiting for you today! &nbsp; &#127942 </p>
                </a>
                {% endif %}
            </div>
            <div class="questions">
                <div class=question-container>
                    {% if question.isQuote %}
                        <p id="line">
                            If you know you know !
                        </p>
                    {% else %}
                        <p id="line">Quote of the day !</p>
                    {% endif %}
                    
                    <div class="que">
                        {% if question.isQuote %}
                            <p><b>Q.</b> {{question.question}}</p>
                        {% else %}
                            <p><b>{{question.question}}</b></p>
                        {% endif %}
                    </div>
                
                    
                    {% if question.isQuote %}
                    <div class="answer-button">
                        <button id="show-answer">IDK</button>
                    </div>
                    <div class="ans">
                        <p><b>Ans.</b> {{question.answer}}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    <!-- </div> -->
    <div class="announce-title">
        <p>Announcements</p>
    </div>
    <div class="container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for i in upperd%}
                {% if i.id == 0 %}
                <li data-target="#carousel-example-generic" data-slide-to="{{i.id}}" class="active"></li>
                {% else %}
                <li data-target="#carousel-example-generic" data-slide-to="{{i.id}}"></li>
                {% endif%}
                {% endfor %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {% for i in announce%}
                {%if i.sr == 0 %}
                <div class="item active">
                    <div class="announce">
                        <div class="details">
                            <div class="img">
                                <img src="{{i.image.url}}">
                            </div>
                            <div class="description">
                                <div class="text">
                                    <p>
                                        {{i.description}}
                                    </p>
                                </div>
                                <div class="other-details">
                                    <div class="date">
                                        <p>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                            {{i.date}}
                                        </p>
                                    </div>
                                    <div class="more">
                                        <button type="button" class="go">
                                            More
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="item">
                    <div class="announce">
                        <div class="details">
                            <div class="img">
                                <img src="{{i.image.url}}">
                            </div>
                            <div class="description">
                                <div class="text">
                                    <p>
                                        {{i.description}}
                                    </p>
                                </div>
                                <div class="other-details">
                                    <div class="date">
                                        <p>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                            {{i.date}}
                                        </p>
                                    </div>
                                    <div class="more">
                                        <button type="button" class="go">
                                            More
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a id="right" class="right carousel-control" href="#carousel-example-generic" role="button"
                data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="{% static 'js/particles.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
<script>
    $(".carousel").swipe({

        swipe: function (event, direction, distance, duration, fingerCount, fingerData) {

            if (direction == 'left') $(this).carousel('next');
            if (direction == 'right') $(this).carousel('prev');

        },
        allowPageScroll: "vertical"

    });


    $('#show-answer').click(() => {
        var anss = document.querySelector('.ans');
        if (anss.style.display == "none") {
            anss.style.display = "flex";
            $('#show-answer').html("Now You Know");
        }
        else {
            $('#show-answer').html("IDK");
            anss.style.display = "none";
        }
    });
</script>
{%endblock%}