<!-- Including base.html and loading static -->
{% extends "base.html" %}{% load static %}


<!-- Title Name -->
{% block title%} Home {% endblock %} 


<!-- Nav Active -->
{% block home %}
<li class="menu-item active">
    <a class="menu-item-links" href="/home">Home</a>
</li>
{% endblock %}

<!-- CSS Files -->
{% block stylesheet %}
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link rel="stylesheet" href="/static/css/home.css">
<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
{% endblock %}

<!-- Main -->
{% block main %}

<div class="main-container">
    <div class="animation"></div>
    <div class="container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>  
            
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <!-- <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li> -->
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
            <div class="announce">
                <div class="details">
                <div class="img">
                    <img src="/static/images/announcement-default.png" alt="test">
                </div>
                <div class="description">
                    <div class="text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam eligendi adipisci provident, magni corrupti officiis. Rem ipsum deserunt enim adipisci, quasi quod maxime aspernatur soluta aperiam, unde praesentium ipsam aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis illo veritatis magnam quis sit in cum eius architecto error obcaecati, ab et blanditiis, cupiditate consequatur ad tempore, sed molestias animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi doloremque quaerat quod sed architecto molestiae voluptatibus cum, nobis reiciendis consequatur et, maiores consectetur nesciunt officiis omnis ipsa est exercitationem rem.
                    </p>
                    </div>
                    <div class="other-details">
                    <div class="date">
                        <p>
                        2 days ago
                        </p>
                    </div>
                    <div class="more">
                        <button type="button" class="go">
                        More
                        </button>
                    </div>
                    </div>
                </div>
                </div>
                
            </div>
            </div>
            <div class="item">
            <div class="announce">
                <div class="details">
                <div class="img">
                    <img src="/media/images/11.jpg" alt="test">
                </div>
                <div class="description">
                    <div class="text">
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, repudiandae dolorem. Omnis delectus voluptatum quam, dignissimos ipsum ipsa quae esse officia eveniet sapiente, fuga temporibus ducimus architecto eius doloribus unde. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam architecto eius laboriosam, nobis iure eligendi repudiandae quia laudantium quidem? Magnam repudiandae tempora quia numquam molestias, quam cum beatae sequi consequatur. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea, cumque eius! Labore maxime quia dolor laudantium autem 
                    </p>
                    </div>
                    <div class="other-details">
                    <div class="date">
                        <p>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        2 days ago
                        </p>
                    </div>
                    <div class="more">
                        <button type="button" class="go">
                        More
                        </button>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
            </div>
    
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a id="right" class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
    
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>
<script>
$(".carousel").swipe({

  swipe: function(event, direction, distance, duration, fingerCount, fingerData) {

    if (direction == 'left') $(this).carousel('next');
    if (direction == 'right') $(this).carousel('prev');

  },
  allowPageScroll:"vertical"

});
</script>
{%endblock%}