{% extends "base.html" %}
{% load static %}

{% block resources %}
    <li class="menu-item active">
        <a class="menu-item-links" href="/resources">Resources</a>
    </li>
{% endblock %}


{% block stylesheet %}
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="{% static 'css/resources.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet"> 
{% endblock %}

{% block main%}

<div class="main">
    <div class="serch">
        <div id="search"><input id="input" placeholder="Search Resources Here" /><button id="button"><i class="fa fa-search"></i></button>
            <div class="spinner"><i class="fa fa-spinner"></i></div>
        </div>
    </div>
    <div class="naming"><p>< All Resource Topics ></p></div>
    <div class="topics" id="top">
        {% for indtopic in resource %}
            <div class=ind-topic>
                <div class="topic-name" id="{{indtopic.id}}">
                    {{indtopic.resource_name}}
                </div>
                <div class="more" data-name="{{indtopic.resource_name}}">
                    <p>&#10094</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="modal-bg">
    <div class="modal">
        <div id="topic_name">

        </div>
        <div class="less">
            &#10094
        </div>
    </div>
    <div class="content">
        <div class="content-disp" id="res-content"></div>
    </div>
  </div>

{% endblock %}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="{% static 'js/resources.js' %}"></script>
{% endblock %}
