{% extends "base.html" %}
{% load static %}


{% block stylesheet %}
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="{% static 'css/resources.css' %}">
{% endblock %}

{% block main%}

<div class="main">
    <div class="serch">
        <div id="search"><input id="input" placeholder="Search Resources Here" /><button id="button"><i class="fa fa-search"></i></button>
            <div class="spinner"><i class="fa fa-spinner"></i></div>
        </div>
    </div>
    <div class="naming"><p>< All Resource Topics ></p></div>
    <div class="topics" id="top">
        {% for indtopic in resource %}
            <div class=ind-topic>
                <div class="topic-name" id="{{indtopic.id}}">
                    {{indtopic.resource_name}}
                </div>
                <div class="more" data-name="{{indtopic.resource_name}}">
                    <p>&#10094</p>
                    <!-- <div class="arrow-down"></div> -->
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="modal-bg">
    <div class="modal">
        <div id="topic_name">

        </div>
        <div class="less">
            &#10094
        </div>
    </div>
    <div class="content">
        <div class="content-disp" id="res-content"></div>
    </div>
  </div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">

    function more(){
    $('.more').click(function(){
        var topic_name = $(this).data('name');
        console.log(topic_name);
        document.querySelector('.modal-bg').classList.add('bg-active');
        document.getElementById('topic_name').innerHTML = "";
        document.getElementById('res-content').innerHTML ="";
        $.ajax({
            type:"POST",
            url:"/resources/",
            data:{
                name:topic_name,
            },
            success:function(data){
               // console.log(topic_name);
                document.getElementById('topic_name').append(topic_name);
                //console.log(data);
                var close = document.querySelector('.less');
                //console.log(data['links'][0].type);
                for(let i=0;i<data['links'].length;i++){
                    var type = data['links'][i].type;
                    var link = data['links'][i].link;
                    var desc = data['links'][i].desc;

                    $('#res-content').append('<div class="res-card">\n<div class="descp">\n<p>'+ desc+'</p></div><div class="side"><a href = "'+link+'" target=_blank><p>'+ type+'</p></a></div>');
                } 
                close.addEventListener('click',()=>{
                    document.querySelector('.modal-bg').classList.remove('bg-active');
                });
            }
        });
    });
}
    $(function(){
        more();
    });
    var search = document.getElementById('search');
    var button = document.getElementById('button');
    var input = document.getElementById('input');

    /*function loading() {
        search.classList.add('loading');
        
        setTimeout(function() {
            search.classList.remove('loading');
        }, 1500);
    }*/
    String.prototype.format = function () {
        var i = 0, args = arguments;
        return this.replace(/{}/g, function () {
          return typeof args[i] != 'undefined' ? args[i++] : '';
        });
      };

    button.addEventListener('click', ajaxCall);

    input.addEventListener('keydown', function() {
        if(event.keyCode == 13) ajaxCall();
    });
    
    function ajaxCall(){
        var value = document.getElementById('input').value;
        $.ajax({
            type:'POST',
            url:'/resources/search/',
            data:{
                topic:value,
            },
            beforeSend:function(){
                search.classList.add('loading');
            },
            success:function(data){
                search.classList.remove('loading');
                var ret = document.getElementById('top')
                ret.innerHTML = "";
                html_to_append = '';
                var dt = data.topic;
                for(let i=0;i<data.topic.length;i++){
                    html_to_append += '<div class="ind-topic">\n<div class="topic-name" id="{}">\n{}\n</div>\n<div class="more" data-name="{}">\n<p>&#10094</p>\n</div>\n</div>\n'.format(dt[i][1],dt[i][0],dt[i][0]);
                }
                ret.innerHTML = html_to_append;
                more();
                console.log(data.topic);
            }
        });
    }

    $('#input').on('keyup',function(){
        var value = $(this).val();
        $.ajax({
            url: "/resources/autocomplete/",
            data:{
                'type':'auto',
                'search':value
            },
            success:function(data){
                list = data.list;
                $('#input').autocomplete({
                    source:list,
                    minLength:2
                });
            }
        });
    });

</script>
{% endblock %}
