<div class="contest">
    <div class="timer">
        <p class ="countdown" data-countdown="'+ start +'">

        </p>
        <p>to go</p>
    </div>
    <div class="other">
        <div class="title">
            '+ name +'
        </div>
        <div class="sed">
            <div class="sd">
                <p>Start</p>
                <p>'+ start +'</p>
            </div>
            <div class="sd">
                <p >End</p>
                <p>'+ end +'</p>
            </div>
            <div class="sd">
                <p>Duration</p>
                <p>'+ duration +'</p>
            </div>
        </div>
        <div class="link">
            <a href="'+ link +'" target="_blank">'+link +'</a>
        </div>
    </div>
</div>